* {
  font-family: "Roboto", sans-serif;
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
}

.content__left .title p,
.services__title p,
.aboutUs .content__right .title p,
.features .title p,
.portfolio .title p,
.plan .title p,
.testimonial .title p,
.blog .title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.content__left .title h2,
.services__title h2,
.aboutUs .content__right .title h2,
.features .title h2,
.portfolio .title h2,
.plan .title h2,
.testimonial .title h2,
.blog .title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 20px;
  color: #262626;
}
.header__button,
.theBest__button,
.aboutUs__button,
.plan__button,
.footer__form button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  outline: 0;
  text-transform: uppercase;
  line-height: 1.2;
}
/* START HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  margin-right: 0px;
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
  margin: 0px 30px;
}
header li {
  list-style: none;
  padding: 55px 15px;
}
header li a {
  color: #070120;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s;
  text-decoration: none;
}
header li i {
  font-size: 9px;
}

a span {
  display: inline-block;
  transition: all 0.1s;
}
a:hover {
  color: #f55f8d;
}
a:hover span {
  animation: upToDown 0.4s;
}

.header__button:hover,
.theBest__button:hover,
.aboutUs__button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

/* END HEADER */

/* START THE BEST
 */
.theBest {
  padding-top: 180px;
  overflow: hidden;
  background-image: url(../image/pic2.png);
  background-position: top;
  background-size: 100%;
}
.theBest__content {
  display: flex;
  align-items: center;
}
.theBest .content__left {
  width: 60%;
}
.theBest .content__right {
  width: 40%;
}

.theBest .image__cover {
  width: 570px;
  margin-left: 50px;
}

.content__left .detail p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #636363;
}
.content__left .detail ul {
  margin-bottom: 20px;
  color: #636363;
}
.content__left .detail li {
  padding: 10px 0px;
  font-size: 20px;
  list-style: none;
}
.content__left .detail i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  margin-right: 10px;
  background-size: 200%;
  line-height: 35px;
}
.theBest .container {
  margin-right: 0;
  margin-left: 2.5%;
}
/* END THE BEST */

/*START SERVICES */
.digital__services {
  padding-top: 120px;
  padding-bottom: 0;
  background-image: url(../image/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.services__item {
  /* background-color: #f8ae56; */
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transform: translateY(0);
  transition: all 0.5s;
}
.services__item img {
  width: 70%;
}

.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
.services__item p {
  color: #636363;
}
.services__item:hover {
  transform: translateY(-20px);
}
/* END SERVICES */

/* START ABOUT US */
.about__us .about__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs {
  background-image: url(../image/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
  padding-top: 100px;
}
.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: relative; */
}
.aboutUs .container {
  margin-left: 0%;
}

.aboutUs .content__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.aboutUs .content__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutUs .content__right {
  width: 50%;
}
.aboutUs .content__right p {
  margin-bottom: 20px;
  color: #636363;
}
.aboutUs .content__right ul {
  margin-bottom: 30px;
}
.aboutUs .content__right li {
  list-style: none;
  color: #636363;
  margin-bottom: 15px;
}
.aboutUs .content__right i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
/* END ABOUT US */

/* START NUMBERS */
.account__number {
  background-image: url(../image/bg14.png);
  padding: 80px 0 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item {
  width: 25%;
  text-align: center;
}
.number__item i {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
  font-size: 45px;
  align-items: center;
  text-align: center;
}
.number__item .above,
.number__item span {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__item .bottom {
  color: #262626;
  font-size: 18px;
}

/* END NUMBERS */

/* START FEATURES */
.features {
  background-image: url(../image/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.features__content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 100px;
}
.features .container {
  width: 95%;
  max-width: 1200px;
}
.content__left {
  width: 50%;
  /* padding-left: 2.5%; */
}
.content__right {
  width: 50%;
}
.content__right .cover {
  margin-right: -80px;
}
.features .content__right img {
  max-width: 100%;
  animation: move 5s infinite;
}
.card {
  padding: 0 50px 30px 0;
}

.card__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
  line-height: 1.4;
}
.card__item .item__content {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.card__item {
  position: relative;
  z-index: 1;
}
.card__item .item__content p {
  line-height: 1.6;
  transition: all 1s;
}

.card__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 2s;
  padding-right: 20px;
}
.card__item div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.item__content::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}
.features__center {
  padding-left: 50px;
}
.features__aboveBottom {
  padding-right: 50px;
}

.item__content:hover::after,
.item__content:hover h3,
.item__content:hover i,
.item__content:hover p {
  opacity: 1;
  color: white;
}

.item__content:hover .item__content {
  color: #fff;
}

.card__item .center {
  margin-right: 30px;
}

/* end features */

/* START PORTFOLIO */
.portfolio {
  background-image: url(../image/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 90px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 30px;
}

.portfolio .pictures__item1 {
  grid-column: 1/3;
}

.portfolio .pictures__item5 {
  grid-column: 1/3;
}
.portfolio .pictures__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio .pictures__item {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.portfolio .pictures__item::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.overlay__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.overlay__add {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.overlay__add a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
.overlay__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.overlay__text p {
  color: #fff;
  opacity: 0.7;
}
.portfolio .overlay__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.pictures img {
  width: 100%;
  height: 100%;
}
.portfolio .pictures__item:hover::before {
  left: 125%;
}
.portfolio .pictures__item:hover .overlay__text {
  transform: translateY(0);
}
.portfolio .pictures__item:hover .overlay__add {
  transform: translate(0);
}

.overlay__item:hover {
  opacity: 1;
}

/* END PORTFOLIO */

/* START PLAN */
.plan {
  background-image: url(../image/bg16.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 120px;
}
.plan .card {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan .card h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}
.plan .box__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.box__card img {
  width: 50%;
  height: 100%;
}
.box__card p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.box__card span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.box__card ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.box__card li {
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
  list-style: none;
}
.box__card i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
.plan .card:hover {
  border-image: url(../image/br.png) 1 round;
}
/* END PLAN */

.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 110px;
}

.testimonial__content {
  min-height: 300px;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}

.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__thumbs::after,
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1;
}

.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../image/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}

.testimonial__pic::after,
.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after,
.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1;
}

.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}

.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}

.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
/* END TESTIMONIAL */

/* START BLOG */
.blog {
  background-image: url(../image/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 110px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  border-radius: 8px;
  z-index: 2;
}

.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}
/* END BLOG */
/* START FOOTER */
footer {
  background-image: url(../image/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../image/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  background-image: url(../image/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  position: relative;
  display: flex;
}
.footer__text {
  width: 50%;
}
.footer__form {
  width: 50%;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form button {
  border-radius: 0 0.5rem 0.5rem 0;
}
.footer__form input:hover {
  border-color: #f55f8d;
}
.footer__form button:hover {
  background-position: right center;
}
.form i {
  font-size: 900;
}
.middle__content {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.middle__item {
  width: 25%;
}
.middle__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.item__contact li {
  align-items: center;
  display: flex;
}
.item__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;

  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}
.middle__item li {
  padding: 10px 0;
  display: flex;
  list-style: none;
}
.middle__item i {
  font-weight: 700;
  margin-right: 10px;
}
.middle__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.middle__item h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 15px;
}
.middle__item h3::after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 45px;
}
.middle__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
  text-decoration: none;
}
.middle__item a:hover {
  color: #fff;
}

.footer__end {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.end__container {
  padding: 0 35px;
}
.footer__end span {
  color: #f55f8d;
}
.end__content {
  display: flex;
  justify-content: space-between;
  padding: 0px 0 8px 0;
}
.end__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 1s;
  margin-right: 5px;
}
.end__right a:hover {
  background-color: #f55f8d;
}
.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* END FOOTER */

@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
